.about {
  background-image: url('../images/about-bg.jpg');
  padding: 120px 0;
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 540px;
    max-height: 300px;
    overflow: hidden;
  }
  &__info-title {
    color: $default-color;
  }
  &__info-text {
    color: $default-color;
    font-size: 18px;
    line-height: 26px;
  }
  &__info-text span {
    display: block;
    padding-top: 10px;
  }
  &__img-inner {
    max-width: 445px;
    max-height: 300px;
    width: 100%;
    object-fit: cover;
  }
}
