.header {
  max-height: 136px;
  background-color: $default-dark;
  min-width: 100vw;
  min-height: 100vh;
  &__inner {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
  }
  &__location {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__address svg {
    margin-right: 10px;
    cursor: pointer;
  }
  &__instagram {
  }
  &__instagram svg {
  }
  &__action {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__action-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
  }
  &__action-top-phone {
    color: $default-color;
    text-decoration: none;
    font-size: 24px;
    line-height: 29px;
    @extend %lato-bold;
    margin-right: 30px;
  }
  &__action-top-phone svg {
    margin-right: 10px;
  }
  &__action-top-btn {
    border: 0;
    text-align: center;
    background-color: $accent-color;
    color: $default-color;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 17px;
    padding: 9px 33px;
    cursor: pointer;
  }
  &__action-nav {
  }
  &__cation-nav-list {
  }
  &__action-nav-item {
    display: inline-block;
    margin-right: 20px;
    font-size: 16px;
    line-height: 19px;
    &:last-child {
      margin-right: 0;
    }
  }
  &__action-nav-link {
    color: $default-color;
    text-decoration: none;
  }
  .swiper {
    display: block;
    .swiper-slide {
      height: calc(100vh - 136px);
      object-fit: cover;
    }
    &-pagination-bullet {
      background-color: $accent-color;
    }
    &-button-prev {
      width: 50px;
      height: 50px;
      margin-left: 55px;
      cursor: pointer;
      &:hover {
        svg circle {
          fill: $accent-color;
          fill-opacity: 0.5;
        }
      }
      &:after {
        display: none;
      }
    }
    &-button-next {
      width: 50px;
      height: 50px;
      margin-right: 55px;
      cursor: pointer;
      &:hover {
        svg circle {
          fill: $accent-color;
          fill-opacity: 0.5;
        }
      }
      &:after {
        display: none;
      }
    }
  }
}
