.header {
  max-height: 100vh;
  background-color: $default-dark;
  width: 100vw;
  &__inner {
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    position: fixed;
    padding: 20px 10px;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 10;
  }
  &__location {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__address svg {
    margin-right: 10px;
  }
  &__instagram {
    transition: 0.5s all;
    &:hover {
      background-color: $accent-color;
      border: 1px solid $accent-color;
      transition: 0.5s all;
      transform: translateY(-5px);
    }
    &:active {
      background: rgb(2, 0, 36);
      background: linear-gradient(
        90deg,
        rgba(2, 0, 36, 0.13489145658263302) 0%,
        rgba(231, 72, 15, 1) 69%,
        rgba(255, 51, 0, 1) 100%
      );
    }
  }
  &__action {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 20px;
  }
  &__action-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
  }
  &__action-top-phone {
    color: $default-color;
    text-decoration: none;
    font-size: 24px;
    line-height: 29px;
    @extend %lato-bold;
    margin-right: 30px;
    transition: 0.5s all;
    &:hover {
      transition: 0.5s all;
      transform: translateY(-5px);
      color: $accent-color;
      svg path {
        fill: $accent-color;
      }
    }
    &:active {
      background-color: $active-color;
    }
  }
  &__action-top-phone svg {
    margin-right: 10px;
  }
  &__action-top-btn {
    border: 0;
    text-align: center;
    background-color: $accent-color;
    color: $default-color;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 17px;
    padding: 9px 33px;
    cursor: pointer;
    &:hover {
      transition: 0.5s all;
      transform: translateY(-5px);
    }
    &:active {
      background-color: $active-color;
    }
  }
  &__action-top-btn.pulse {
    background-color: $accent-color;
  }
  &__action-nav-item {
    display: inline-block;
    margin-right: 20px;
    font-size: 16px;
    line-height: 19px;
    &:last-child {
      margin-right: 0;
    }
  }
  &__action-nav-link {
    color: $default-color;
    position: relative;
    cursor: pointer;
    line-height: 1;
    text-decoration: none;
    &:after {
      content: '';
      display: block;
      position: absolute;
      left: 0; /*изменить на right:0;, чтобы изменить направление подчёркивания */
      width: 0; /*задаём длинну линии до наведения курсора*/
      height: 2px; /*задаём ширину линии*/
      background-color: $accent-color; /*задаём цвет линии*/
      transition: width 0.5s ease-out; /*задаём время анимации*/
    } /*убираем подчёркивание*/
    &:hover:after,
    &:focus:after {
      width: 100%; /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/
    }
  }
  .swiper {
    padding-top: 109.39px;
    display: block;
    .swiper-slide {
      height: calc(100vh - 100px);
      object-fit: cover;
    }
    &-pagination-bullet {
      background-color: $accent-color;
    }
    &-button-prev {
      width: 50px;
      height: 50px;
      margin-left: 55px;
      cursor: pointer;
      &:hover {
        svg circle {
          fill: $accent-color;
          fill-opacity: 0.5;
        }
      }
      &:after {
        display: none;
      }
    }
    &-button-next {
      width: 50px;
      height: 50px;
      margin-right: 55px;
      cursor: pointer;
      &:hover {
        svg circle {
          fill: $accent-color;
          fill-opacity: 0.5;
        }
      }
      &:after {
        display: none;
      }
    }
  }
}
