/* Large desktops and laptops */
@media (min-width: 1200px) {
  .interior__inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .footer__inner {
    display: flex;
    justify-content: space-between !important;
    width: 100% !important;
    margin-bottom: 20px;
  }
  .footer__info {
    width: 50%;
  }
  .footer__map {
    width: 50%;
    display: block !important;
  }
  .footer__map iframe {
    display: flex;
    width: 100%;
  }
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  .footer__info {
    width: 50%;
  }
  .footer__map {
    display: block !important;
    width: 50%;
  }
  .footer__map iframe {
    display: flex;
    width: 100%;
  }
  .interior__inner {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(3fr, 350px));
  }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  .header {
    min-height: 0vh;
    .swiper {
      display: none;
    }
  }
  .header__inner {
    display: flex;
    justify-content: space-around;
    padding: 15px 0 30px 0;
  }
  .header__location {
    display: none;
  }
  .header__action {
    margin-right: 0;
  }
  .subtitle {
    font-size: 12px;
    margin: 0;
  }
  .title {
    font-size: 22px;
    line-height: 32px;
    margin-bottom: 10px;
  }
  .text {
    font-size: 13px;
  }
  .text span {
    padding-top: 10px;
    margin: 0;
  }
  .about {
    padding: 120px 0 30px 0;
  }
  .about__info {
    max-width: 50%;
    padding-right: 20px;
  }
  .about__img-inner {
    max-width: 50%;
    display: flex;
    align-items: center;
  }
  .about__info-text {
    font-size: 14px;
  }
  .benefits {
    padding: 30px 0;
  }
  .benefits__title {
    margin-bottom: 20px;
  }
  .benefits__card {
    display: grid;
    justify-items: center;
  }
  .benefits__cards-inner {
    display: grid;
    justify-items: center;
  }
  .benefits__card-title {
    text-align: center;
    font-size: 24px;
  }
  .benefits__card-text {
    font-size: 12px;
    text-align: center;
    line-height: 20px;
  }
  .programs {
    padding: 30px 0 20px 0;
  }
  .programs__inner {
    &::before {
      display: none;
    }
  }
  .programs__info {
    padding-right: 20px;
    text-align: center;
  }
  .programs__info-title {
    font-size: 28px;
  }
  .programs__info-text {
    font-size: 15px;
  }
  .programs__cards-inner {
    margin-bottom: 40px;
  }
  .programs__img-inner {
    padding-top: 0;
    max-height: 0;
  }
  .programs__card-title {
    font-size: 20px;
  }
  .programs__btn {
    margin-bottom: 30px;
  }
  .call {
    padding-bottom: 50px;
  }
  .call__inner {
    padding: 60px 0 40px 0;
  }
  .text {
    margin-bottom: 30px;
  }
  .trainers {
    padding: 0px;
  }
  .trainers__info {
    padding-right: 20px;
    text-align: center;
  }
  .trainers__inner {
    max-height: 270px;
    &:before {
      display: none;
    }
  }
  .trainers__card {
    text-align: center;
  }
  .trainers__cards-inner {
    margin-bottom: 0;
  }
  .trainers__img-inner {
    padding-top: 0;
  }
  .trainers__card-img-inner {
    object-fit: cover;
    display: block;
    margin: 0 auto;
    margin-bottom: 25px;
  }
  .trainers__card-title {
    font-size: 28px;
  }
  .trainers__info-text {
    font-size: 15px;
  }
  .card-text {
    font-size: 14px;
  }
  .registration {
    padding: 30px;
    &:after {
      display: none;
    }
    &:before {
      display: none;
    }
  }
  .registration__title {
    margin-bottom: 20px;
  }
  .registration__line {
    margin-bottom: 30px;
  }
  .footer {
    padding-top: 30px;
  }
  .footer__info {
    width: 50%;
    padding: 20px;
  }
  .footer__info {
    width: 50%;
  }
  .footer__map {
    display: block !important;
    width: 50%;
  }
  .footer__map iframe {
    display: flex;
    width: 100%;
  }
}

/* Landscape phones and portrait tablets */
@media (min-width: 576px) and (max-width: 767px) {
  .header {
    min-height: 0vh;
    .swiper {
      display: none;
    }
  }
  .header__inner {
    padding: 10px 0;
  }
  .logo__img {
    max-height: 50px;
  }
  .header__location {
    display: none;
  }
  .header__action {
    display: none;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 5;
    background-color: rgba(255, 255, 255, 1);
    animation: openModal 0.5s forwards;
  }
  .header__action.active {
    display: block;
  }
  .header__action-nav {
    padding: 40px;
  }
  .header__action-top {
    margin: 0;
  }
  .header__action-nav-link {
    color: $default-dark;
    font-size: 28px;
    margin-bottom: 40px;
    display: inline-block;
  }
  .header__cation-nav-list {
    display: inline-block;
  }
  .header__action-top-btn {
    display: none;
  }
  .header__action-top-phone {
    display: none;
  }
  .header__action-nav-item {
    display: block;
    margin: 0 auto;
  }
  .burger {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    top: 25px;
    right: 15px;
    &__center {
      display: block;
      width: 30px;
      height: 1px;
      background-color: #fff;
      top: 0;
      right: 0;
    }
    &:before {
      content: '';
      display: block;
      width: 30px;
      height: 1px;
      background-color: #fff;
      top: 0px;
      right: 0;
    }
    &:after {
      content: '';
      display: block;
      width: 30px;
      height: 1px;
      background-color: #fff;
      top: 0px;
      right: 0;
    }
  }
  .about {
    position: relative;
    padding: 30px 0;
  }
  .about__inner {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
  }
  .about__info {
    text-align: center;
    padding-right: 20px;
    padding-right: 0;
  }
  .about__img-inner {
    display: none;
  }
  .about__info-title {
    padding-top: 15px;
  }
  .about__info-text.text {
    font-size: 18px;
  }
  .text span {
    padding-top: 10px;
  }
  .about__info-text span {
    overflow: visible;
    margin: 0;
  }
  .benefits {
    padding: 30px 0;
  }
  .benefits__title {
    margin-bottom: 30px;
  }
  .benefits__card-img-inner {
    max-width: 90%;
    margin-bottom: 0;
  }
  .benefits__card {
    display: grid;
    justify-items: center;
  }
  .benefits__card-img-inner {
    display: flex;
    flex-direction: inherit;
  }
  .benefits__card-title {
    font-size: 18px;
    text-align: center;
    line-height: 18px;
    margin-bottom: 0;
  }
  .benefits__card-text {
    font-size: 13px;
    line-height: 20px;
    text-align: center;
    padding: 5px;
  }
  .programs {
    padding: 30px 0 60px 0;
    text-align: center;
  }
  .programs__inner {
    justify-content: center;
    &:before {
      display: none;
    }
  }
  .programs-img {
    display: none;
  }
  .programs__info-text span {
    margin-bottom: 30px;
  }
  .programs__cards-inner {
    grid-template-columns: repeat(auto-fit, minmax(268px, 1fr));
    margin-bottom: 20px;
    gap: 10px;
  }
  .programs__card {
    display: grid;
    justify-items: center;
    padding: 0;
  }
  .programs__card-btn {
    margin-bottom: 30px;
    width: 90%;
  }
  .call {
    padding-bottom: 40px;
  }
  .call__inner {
    padding: 80px 0 60px 0;
  }
  .call__title {
    font-size: 30px;
    padding: 0 20px;
  }
  .trainers {
    padding: 0 0 30px 0;
    text-align: center;
  }
  .trainers__inner {
    justify-content: center;
    &::before {
      display: none;
    }
  }
  .trainers-img {
    display: none;
  }
  .trainers__card {
    display: grid;
    justify-items: center;
  }
  .trainers__cards-inner {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(268px, 1fr));
    margin-bottom: 30px;
    gap: 10px;
  }
}
.registration {
  padding-bottom: 40px;
}
.registration::after,
.registration::before {
  display: none;
}
.footer {
  padding-top: 30px;
}
.footer__inner {
  justify-content: center;
  margin-bottom: 20px;
}
.footer__info {
  display: grid;
  justify-items: center;
  padding: 20px;
}
.footer__map {
  display: none;
}
.copyright {
  padding-bottom: 15px;
}

@media (max-width: 575px) {
  .header {
    min-height: 0vh;
    .swiper {
      display: none;
    }
  }
  .header__inner {
    padding: 10px 0;
  }
  .logo__img {
    max-height: 50px;
  }
  .header__location {
    display: none;
  }
  .header__action {
    display: none;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 5;
    background-color: rgba(255, 255, 255, 1);
    animation: openModal 0.5s forwards;
  }
  .header__action.active {
    display: block;
  }
  .header__action-nav {
    padding: 40px;
  }
  .header__action-top {
    margin: 0;
  }
  .header__action-nav-link {
    color: $default-dark;
    font-size: 28px;
    margin-bottom: 40px;
    display: inline-block;
  }
  .header__cation-nav-list {
    display: inline-block;
  }
  .header__action-top-btn {
    display: none;
  }
  .header__action-top-phone {
    display: none;
  }
  .header__action-nav-item {
    display: block;
    margin: 0 auto;
  }
  .burger {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    top: 25px;
    right: 20px;
    &__center {
      display: block;
      width: 30px;
      height: 1px;
      background-color: #fff;
      top: 0;
      right: 0;
    }
    &:before {
      content: '';
      display: block;
      width: 30px;
      height: 1px;
      background-color: #fff;
      top: 0px;
      right: 0;
    }
    &:after {
      content: '';
      display: block;
      width: 30px;
      height: 1px;
      background-color: #fff;
      top: 0px;
      right: 0;
    }
  }
  .about {
    position: relative;
    padding: 20px 0;
  }
  .about__inner {
    display: flex;
    justify-content: center;
  }
  .about__info {
    text-align: center;
    padding-right: 20px;
    padding-right: 0;
  }
  .about__img-inner {
    display: none;
  }
  .about__info-title {
    color: #ec9170;
    padding-top: 60px;
  }
  .about__info-subtitle {
    display: none;
  }
  .about__info-text {
    display: none;
  }
  .benefits {
    padding: 20px 0;
    text-align: center;
  }
  .benefits__title {
    font-size: 30px;
    margin-bottom: 20px;
  }
  .benefits__cards-inner {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  }
  .benefits__card {
    display: grid;
    justify-items: center;
  }
  .benefits__card .three {
    display: none;
  }
  .benefits__card-img-inner {
    display: flex;
    justify-content: center;
    flex-direction: inherit;
    margin-bottom: 20px;
  }
  .benefits__card-title {
    font-size: 28px;
    text-align: center;
    line-height: 18px;
    margin-bottom: 20px;
    text-align: center;
  }
  .benefits__card-text {
    font-size: 18px;
    text-align: center;
    padding: 5px;
    margin-bottom: 20px;
  }
  .programs {
    padding: 30px 0 60px 0;
    text-align: center;
  }
  .programs__inner {
    justify-content: center;
    &:before {
      display: none;
    }
  }
  .programs-img {
    display: none;
  }
  .programs__info-text span {
    margin-bottom: 30px;
  }
  .programs__cards-inner {
    grid-template-columns: repeat(auto-fit, minmax(268px, 1fr));
    margin-bottom: 20px;
    gap: 10px;
  }
  .programs__card {
    display: grid;
    justify-items: center;
    padding: 0;
  }
  .programs__card-btn {
    margin-bottom: 30px;
    width: 90%;
  }
  .programs__btn {
    width: 90%;
  }
  .call {
    padding: 20px 0;
  }
  .call__inner {
    padding: 50px 0;
  }
  .call__title {
    font-size: 28px;
    line-height: 32px;
    padding: 0 10px;
  }
  .call__text {
    font-size: 14px;
    padding: 0 10px;
    font-size: 18px;
  }
  .trainers {
    padding: 0 0 30px 0;
    text-align: center;
  }
  .trainers__inner {
    justify-content: center;
    &::before {
      display: none;
    }
  }
  .trainers__info-title {
    font-size: 28px;
    margin-bottom: 20px;
  }
  .trainers__info-text {
    font-size: 16px;
  }
  .trainers__card-img-inner {
    max-width: 90%;
  }
  .trainers-img {
    display: none;
  }
  .trainers__card {
    display: grid;
    justify-items: center;
  }
  .trainers__card-text:last-child {
    margin-bottom: 0;
  }
  .trainers__cards-inner {
    display: grid;
    margin-bottom: 30px;
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  }
}
.registration {
  padding-bottom: 40px;
  text-align: center;
}
.registration__title {
  font-size: 28px;
  line-height: 30px;
}
.registration::after,
.registration::before {
  display: none;
}
.registration__line {
  margin-bottom: 15px;
}
.registration__name-input,
.input {
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
}
.registration__phone-input,
.input {
  margin-bottom: 30px;
}
.btn--large {
  width: 90%;
}
.interior {
  padding: 30px 0 10px 0;
}
.interior__inner {
  justify-items: center;
}
.footer {
  padding-top: 30px;
}
.footer__inner {
  margin-bottom: 20px;
}
.footer__info {
  text-align: center;
  padding: 20px;
  text-align: center;
}
.footer__info-schedule,
.footer__info-address,
.footer__info-phone {
  justify-content: center;
}
.footer__map {
  display: none;
}
.copyright {
  padding-bottom: 15px;
}
