.logo {
  max-width: 170px;
  max-height: 80px;
  cursor: pointer;
}
.address {
  display: flex;
  align-items: center;
  color: $default-color;
  font-style: normal;
  font-size: 18px;
  line-height: 22px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s;
}
.instagram {
  display: flex;
  justify-content: space-between;
  color: $default-light;
  max-width: 180px;
  align-items: center;
  border: 1px solid #858585;
  padding: 7px 14px;
  text-decoration: none;
  cursor: pointer;
}
.subtitle {
  color: $accent-color;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 17px;
  @extend %lato-bold;
  margin-bottom: 12px;
}
.title {
  font-size: 36px;
  line-height: 43px;
  @extend %lato-bold;
  margin-bottom: 30px;
}

.text {
  font-size: 18px;
  line-height: 26px;
}
.card-title {
  @extend %lato-bold;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 15px;
}
.card-text {
  font-size: 16px;
  line-height: 24px;
  color: #7f7f7f;
  margin-bottom: 25px;
}
.btn {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  border: 1px solid $accent-color;
  padding: 15px 33px;
  font-size: 14px;
  line-height: 17px;
  color: $accent-color;
  cursor: pointer;
}

.btn--large {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  border: 1px solid $accent-color;
  padding: 15px 33px;
  font-size: 14px;
  line-height: 17px;
  background-color: $accent-color;
  color: $default-color;
  margin: 0 auto;
  cursor: pointer;
}

.input {
  background-color: $default-dark;
  padding: 20px;
  width: 100%;
  border-color: $secondary-color;
  margin-bottom: 40px;
  border: 1px solid #757575;
  color: $secondary-color;
  font-size: 18px;
  line-height: 22px;
}
