.logo {
  max-width: 170px;
  max-height: 80px;
  &__img {
  }
}
.address {
  display: flex;
  align-items: center;
  color: $default-color;
  font-style: normal;
  font-size: 18px;
  line-height: 22px;
}
.instagram {
  display: flex;
  justify-content: space-between;
  color: $default-light;
  max-width: 180px;
  align-items: center;
  border: 1px solid #858585;
  padding: 7px 14px;
  text-decoration: none;
}
.subtitle {
  color: $accent-color;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 17px;
  @extend %lato-bold;
  margin-bottom: 12px;
}
.title {
  font-size: 36px;
  line-height: 43px;
  @extend %lato-bold;
  font-size: 36px;
  line-height: 43px;
  margin-bottom: 30px;
}

.text {
  font-size: 18px;
  line-height: 26px;
}
