.logo {
  max-width: 170px;
  max-height: 80px;
  &__img {
  }
}
.address {
  display: flex;
  align-items: center;
  color: $default-color;
  font-style: normal;
  font-size: 18px;
  line-height: 22px;
}
.instagram {
  display: flex;
  justify-content: space-between;
  color: $default-light;
  max-width: 180px;
  align-items: center;
  border: 1px solid #858585;
  padding: 7px 14px;
  text-decoration: none;
}
