/* Vars:
  ========================================================================== */

// Main color
$accent-color            : #E7490F;
$default-color           : #ffffff;
$default-dark            : #000000;
$default-light           : #e7e0e0;
$secondary-color         : #757575;
$primary-color           : #444ce0;
$success-color           : #26de81;
$danger-color            : #fc5c65;
$warning-color           : #fed330;
$light-color             : #999999;
$border-color            : #E7490F;