@import 'normalize';
@import 'vendors';
@import 'vars';
@import 'global';
@import 'fonts';
@import 'mixins';
@import 'media';

img {
   min-width: 100vw;
   min-height: 100vh;
   object-fit: cover;
}



